#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-ctx {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.workbench-ctx{
  flex: 1;
  width: 100%;
  height: 100%;
}
