#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.operator-ctx{
  width: 100%;
  height: 60px;
  border-bottom: 1px dashed #999999;
}

.app-ctx {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.workflow-ctx{
  flex: 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.workbench-ctx{
  flex: 1;
  width: 100%;
  height: 100%;
  border-left: 1px dashed #999999;
}
